# Virtual Environment
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache
*.db

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Context
flask_app/context

# Logs
flask_app/logs/*
!flask_app/logs/.gitkeep