[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
flask-sqlalchemy = "==3.1.1"
flask-login = "==0.6.2"
flask-wtf = "==1.1.1"
email-validator = "==2.0.0.post2"
werkzeug = "==2.3.7"
sqlalchemy = "==2.0.20"
python-dotenv = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.12"
